<div class="dispenserPage">

<div class="content">

<div class="dispenser1" *ngFor="let row of rows">

<p class="title">Dispenser 02-00</p>

<div class="limit1">
  <p>Temperture</p>
  <div class="line1"></div>
  <span class="Num1">100c</span>
  <span class="Num2"> <i class="fa-solid fa-sort-down"></i> 20c</span>
</div>

<div class="limit2">
  <p>Pressure</p>
  <div class="line2"></div>
  <span class="Num1">80c</span>
  <span class="Num2"> <i class="fa-solid fa-sort-down"></i> 8c</span>
</div>

</div>

<div class="dispenser2" *ngFor="let row of rows">

  <p class="title">Dispenser 02-00</p>

  <div class="limit1">
    <p>Temperture</p>
    <div class="line1"></div>
    <span class="Num1">100c</span>
    <span class="Num2"> <i class="fa-solid fa-sort-down"></i> 20c</span>
  </div>

  <div class="limit2">
    <p>Pressure</p>
    <div class="line2"></div>
    <span class="Num1">80c</span>
    <span class="Num2"> <i class="fa-solid fa-sort-down"></i> 8c</span>
  </div>

  </div>


</div>

</div>
