<div class="boxes">
  <div class="box1">
    <div class="valueCont">
      <p class="valueNumber">71.028</p>
      <p class="valueDesc">EGP</p>
    </div>
    <div class="valueName">
      <p class="condition">Total Value</p>
      <p class="balance"><i class="fa-solid fa-sort-down"></i> 2%</p>
    </div>
  </div>

  <div class="box2">
    <div class="valueCont">
      <p class="valueNumber">20,000</p>
      <p class="valueDesc">m<sup>3</sup></p>
    </div>
    <div class="valueName">
      <p class="condition">Total Sales</p>
      <p class="balance">
        <i class="fa-solid fa-sort-up"></i> 50 m<sup>3</sup>
      </p>
    </div>
  </div>

  <div class="box3">
    <div class="valueCont">
      <p class="valueNumber">20,000</p>
      <p class="valueDesc"><sup>3</sup></p>
    </div>
    <div class="valueName">
      <p class="condition">Avg Sales</p>
      <p class="balance">
        <i class="fa-solid fa-sort-down"></i> 50 m<sup>3</sup>
      </p>
    </div>
  </div>

  <div class="box4">
    <div class="valueCont">
      <p class="valueNumber">1567</p>
    </div>
    <div class="valueName">
      <p class="condition">Total Transaction Count</p>
      <p class="balance"><i class="fa-solid fa-sort-up"></i> 20%</p>
    </div>
  </div>
</div>
