@import "../../../assets/scss/varibles.scss";

.lineBar{
  width: 100%;
  height: 100%;
  padding: 10px ;
  margin-bottom: 3%;
  background-color: $w;
}

.lineBar .head{
width: 100%;
height: 20%;

display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
box-sizing: border-box;
border-bottom: 1px solid lightgray;
}

.lineBar .head .part1{
  width: 30%;
  font-size: 13px;
  font-weight: bold;
}

.lineBar .head .part1 p{
  margin: 0%;
  padding: 0%;
  color: $textColor;
}

.lineBar .head .part2{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  font-size: 13px;
  font-weight: bold;
}

.lineBar .head .part2 p{
  margin: 0%;
  padding: 0%;
  color: $textColor;
  font-weight: bold;
  cursor: pointer;
}

.activeBarLink{
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
}

.lineBar .head .part3{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.lineBar .head .part3 p{
  margin: 0%;
  padding: 0%;
  color: $icon;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 11px 11px 11px 11px;
}

.activeIcon{
  color: $w !important;
  background-color: $primaryColor;
}

.linechart{
  width: 100%;
  height: 80%;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linechart app-radar{
width: 45%;
height: 100%;
}

.progressBar{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bar{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar p{
  font-weight: bold;
  font-size: 10px;
  color: $textColor;
}

.bar1{
  height: 52px;
  width: 20px;
  margin: 0%;
  background-color: #F7B801;
}

.bar2{
  height: 121px;
  width: 20px;
  margin: 0%;

  background-color: #00CBC0;
}

.bar3{
  height: 138px;
  width: 20px;
  margin: 0%;

  background-color: #009ACF;
}

.bar4{
  height: 52px;
  width: 20px;
  margin: 0%;

  background-color: #1F78B4;
}

.sations{
  width: 100%;
  height: 80%;
  margin: 0%;
  // background-color: lightsteelblue;
  app-dispenser-details{
    width: 100%;
    height: 100%;
  }

}

