
  <div class="station2LineBar">
    <div class="head ">
      <div class="part1"><p>Stations Activates Overview</p></div>
      <div class="part2">
        <p [ngClass]="{'activeBarLink' : activeBarLink =='Compressor'}" (click)="linkBar('Compressor')">Compressor STATUS</p>
        <p [ngClass]="{'activeBarLink' : activeBarLink =='dispenser'}" (click)="linkBar('dispenser')">dispenser DETAILS</p>
      </div>
      <div class="part3">
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon2'}" (click)="IconBtn('Icon2')">  <i class="fa-solid fa-chart-column"></i> </p>
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon3'}" (click)="IconBtn('Icon3')">  <i class="fa-solid fa-list-ul"></i> </p>
       <p> <i class="fa-solid fa-ellipsis"></i> </p>
      </div>
    </div>
    <div class="linechart" *ngIf="!showStations">
      <app-radar></app-radar>
      <div class="progressBar">

        <div class="bar">

        <div class="box">
          <div class="bar1"></div>
          <p>Idle</p>
        </div>
        <div class="box">
          <div class="bar2"></div>
          <p>compression</p>
        </div>

          <div class="box">
          <div class="bar3"></div>
          <p>recirculating</p>
        </div>

          <div class="box">
          <div class="bar4"></div>
          <p>others</p>
        </div>

        </div>

      </div>
    </div>

    <div class="sations" *ngIf="showStations">
      <app-dispenser-details></app-dispenser-details>
    </div>

  </div>




