@import "../../../assets/scss/varibles.scss";

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F9F5F3;
  padding: 0%;
}

.navBAr{
  width: 100%;
  height: 11.5%;
  background-color: $w;
  margin-bottom: 0% !important;
}

.boxes {
  width: 70%;
  height: 40%;
  // background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0% !important;
}

.box1 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: #f4dbd4;
  border-radius: 24px 24px 24px 24px;
}

.box1 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box1 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box1 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box1 .valueName {
  margin-top: 0%;
}

.box1 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box1 .balance {
  color: $primaryColor;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

.box1 .balance .fa-sort-down {
  margin-bottom: 2%;
}

// =========================================== box1 =================================

.box2 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box2 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box2 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box2 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box2 .valueName {
  margin-top: 0%;
}

.box2 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box2 .balance {
  color: #00cbc0;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

// =========================================== box2 =================================

.box3 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box3 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box3 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box3 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box3 .valueName {
  margin-top: 0%;
}

.box3 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box3 .balance {
  color: $primaryColor;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

.box3 .balance .fa-sort-down {
  margin-bottom: 2%;
}

// =========================================== box3 =================================

.box4 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box4 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  text-align: left;
  margin-left: 15%;
}

.box4 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box4 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box4 .valueName {
  margin-top: 4%;
}

.box4 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box4 .balance {
  color: #00cbc0;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

// ===========================================Boxes======================================

.radarChart{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .chart{
    width: 60%;
    margin-top: 3%;
    margin-bottom: 10%;
   }

   .stations{
    width: 100%;
    margin-top: 5%;
   }

   .station1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
   }

   .station1 img{
    margin-right: 3%;
   }

   .station1 .text1{
    color: $textColor;
    font-size: 16px;
    margin-top: 3%;
    margin-right: 5%;
    font-weight: bold;
   }

   .station1 .text2{
    color: $textColor;
    margin-top: 3%;
    margin-right: 4%;
    font-weight: bold;
   }

   .station1 .progres{
  width: 75%;
  height: 6px;
  background-color: #F4DBD4;
  border-radius: 20px 20px 20px 20px;
  margin-top: 2%;
  position:relative ;
}

.station1 .progres::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  background-color: $primaryColor;
}

.station2{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
 }

 .station2 img{
  margin-right: 3%;
  // margin-left: 3%;
 }

 .station2 .text1{
  color: $textColor;
  font-size: 16px;
  margin-top: 3%;
  margin-right: 5%;
  font-weight: bold;
 }

 .station2 .text2{
  color: $textColor;
  margin-top: 3%;
  margin-right: 4%;
  font-weight: bold;
 }

 .station2 .progres{
width: 75%;
height: 6px;
background-color: #B9CDE2;
border-radius: 20px 20px 20px 20px;
margin-top: 2%;
position:relative ;
}

// --------------------------------------------radarChart--------------------------------------------

.columnChart{
  // background-color: chartreuse;
  width: 70%;
  height: calc(100% - 51.5%);
  box-sizing: border-box;
}

.columnChart .mylinks{
  margin-top: 1%;
  margin-left: 0%;
  margin-bottom: 0%;
  display: flex;
justify-content: end;
// background-color: #00cbc0;

}

.columnChart .links{
  width: 25%;
display: flex;
justify-content: space-around;
margin-top: 0%;
margin-bottom: 0%;
margin-right: 3%;
border-radius: 30px 30px 30px 30px;
background-color: white;
text-align: center;
padding: 0%;
}

.links a{
  width: 50%;
  text-decoration: none;
  color: black;
}

.links a:hover{
  background-color: $primaryColor;
color: white;
border-radius: 30px 30px 30px 30px;

}

.links a:active{
  background-color: $primaryColor;
border-radius: 30px 30px 30px 30px;
color: white;
}

.barChart{
  width: 100%;
  margin-left: 0%;
  // background-color: red;
}

.barChart .desc{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 0%;
  margin-left: 2%;
  padding: 0%;
}

.barChart .desc a{
  text-decoration: none;
  color: black;
  margin: 4%;
}

.barChart .desc a:hover{
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
}
