<div class="page">

  <div class="dashBoard">
    <div class="content">
      <div class="boxes">
        <app-boxes></app-boxes>
      </div>

      <div class="row col-md-12 mylinks">
        <div class="links">
          <a
            [ngClass]="{ activeLink: shot === 'Graph' }"
            (click)="[activBtn('Graph'), barChart()]"
          >
            <i class="fa-solid fa-chart-column Graph"></i> Graph</a
          >
          <a
            [ngClass]="{ activeLink: shot === 'List' }"
            (click)="[activBtn('List'), stationBtn()]"
          >
            <i class="fa-solid fa-bars List"></i> List</a
          >
        </div>
      </div>

      <div class="columnChart">
        <div class="stationModels" *ngIf="showStations">
          <div class="row stationModel">
            <div class="head col-md-12">
              <div class="title col-md-6">
                <i class="fa-solid fa-circle circle"></i>
                <img
                  src="../../../assets/Imgs/gas-station-svgrepo-com.svg"
                  alt=""
                />
                <p>Station Name Dummy</p>
              </div>

              <div class="options col-md-6">
                <a> <i class="fa-solid fa-ellipsis"></i> </a>
              </div>
            </div>

            <div class="row col-md-12 line1">
              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>

              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row stationModel">
            <div class="head col-md-12">
              <div class="title col-md-6">
                <i class="fa-solid fa-circle circle"></i>
                <img
                  src="../../../assets/Imgs/gas-station-svgrepo-com.svg"
                  alt=""
                />
                <p>Station Name Dummy</p>
              </div>

              <div class="options col-md-6">
                <a> <i class="fa-solid fa-ellipsis"></i> </a>
              </div>
            </div>

            <div class="row col-md-12 line1">
              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>

              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row stationModel">
            <div class="head col-md-12">
              <div class="title col-md-6">
                <i class="fa-solid fa-circle circle"></i>
                <img
                  src="../../../assets/Imgs/gas-station-svgrepo-com.svg"
                  alt=""
                />
                <p>Station Name Dummy</p>
              </div>

              <div class="options col-md-6">
                <a> <i class="fa-solid fa-ellipsis"></i> </a>
              </div>
            </div>

            <div class="row col-md-12 line1">
              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>

              <div class="row p-0 d-flex justify-content-around">
                <div class="part1 col-md-3 d-flex">
                  <p class="fw-bold">Total Sales</p>
                  <span>62,721 m<sup>3</sup> </span>
                </div>

                <div class="part2 col-md-3 d-flex">
                  <p class="fw-bold">Compression State</p>
                  <span>Compression </span>
                </div>

                <div class="part3 col-md-3 d-flex">
                  <p class="fw-bold">Max Transaction / hour</p>
                  <span>20 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-md-12 barChart" *ngIf="showBarchart">
          <div class="row col-md-12">
            <div class="desc">
              <p>Stations Activates Overview</p>
              <div>
                <a href="#">Sales</a>
                <a href="#">Transaction</a>
                <a href="#">Value</a>
                <a href="#">Compression</a>
              </div>
            </div>
          </div>
          <div class="row col-md-12 w-100">
            <app-bar-chart></app-bar-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="radarChart">
      <div class="chart">
        <app-radar-chart></app-radar-chart>
      </div>

    </div>
  </div>
</div>
