@import "../../../assets/scss/varibles.scss";

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

// .mainContent{
//   width:100%;
//   height: 88.5%;
// background-color: #F9F5F3;
// display: flex;
// }

.navBAr{
  width: 100%;
  height: 11.5%;
  background-color: $w;
}

.boxes {
  width: 70%;
  height: 40%;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box1 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: #f4dbd4;
  border-radius: 24px 24px 24px 24px;
}

.box1 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box1 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box1 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box1 .valueName {
  margin-top: 0%;
}

.box1 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box1 .balance {
  color: $primaryColor;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

.box1 .balance .fa-sort-down {
  margin-bottom: 2%;
}

// =========================================== box1 =================================

.box2 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box2 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box2 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box2 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box2 .valueName {
  margin-top: 0%;
}

.box2 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box2 .balance {
  color: #00cbc0;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

// =========================================== box2 =================================

.box3 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box3 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  margin-left: 15%;
}

.box3 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box3 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box3 .valueName {
  margin-top: 0%;
}

.box3 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box3 .balance {
  color: $primaryColor;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

.box3 .balance .fa-sort-down {
  margin-bottom: 2%;
}

// =========================================== box3 =================================

.box4 {
  width: 20%;
  height: 50%;
  text-align: left;
  background-color: $w;
  border-radius: 24px 24px 24px 24px;
}

.box4 .valueCont {
  display: flex;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 0%;
  text-align: left;
  margin-left: 15%;
}

.box4 .valueNumber {
  font-size: 30px;
  color: $textColor;
  margin: 0%;
  padding: 0%;
}

.box4 .valueDesc {
  margin-top: 6%;
  margin-left: 4%;
  color: $textColor;
}

.box4 .valueName {
  margin-top: 4%;
}

.box4 .valueName .condition {
  color: $textColor;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 15%;
  margin-bottom: 0%;
}

.box4 .balance {
  color: #00cbc0;
  font-size: 11px;
  font-weight: bolder;
  margin-left: 15%;
  margin-top: 2%;
}

// ===========================================Boxes======================================

.radarChart{
    width: 30%;
    height: 100%;
    background-color: aqua;
   }
