<div class="container">

  <div class="formInfo">
    <div class="row col-md-12 headTitle">
      <div class="title"> <i class="fa-solid fa-gas-pump gas"></i> <p>ADD NEW Dispenser</p> </div>
     <div class="close"> <a> <i class="fa-solid fa-xmark"></i> </a> </div>
    </div>

    <form action="">

      <div class="row line1">

        <div class="part1">
          <label for="">Dispenser Name :</label>
          <input type="text" class="form-control myField">
        </div>

        <div class="part2">
          <label for="">Dispenser Name :</label>
          <input type="text" class="form-control myField">
        </div>

      </div>

      <div class="row line1">

        <div class="part1">
          <label for="">Station :</label>
          <select class="form-control">
            <option value="station1">station 1</option>
            <option value="station2">station 2</option>
            <option value="station3">station 3</option>
            <option value="station4">station 4</option>
          </select>
        </div>

        <div class="part2">
          <label for="">Line :</label>
          <input type="text" class="form-control myField">
        </div>

      </div>

      <div class="row line1">

        <div class="part1">
          <label for="">Order :</label>
          <input type="" class="form-control myField">
        </div>

        <div class="part2">
          <label for="">Position :</label>
          <input type="text" class="form-control myField">
        </div>

      </div>

      <div class="row endForm">

      <div class="cancel"> <a>Cansel</a> </div>
       <div class="save"> <i class="fa-solid fa-floppy-disk disk"></i> <a>Save</a> </div>

      </div>

    </form>


  </div>





</div>
