<div class="navbarContent">
  <div class="monitored">
    <i class="fa-solid fa-circle circle"></i>
    <img src="../../../assets/Imgs/gas-station-svgrepo-com.svg" alt="" />
    <h4>2/3</h4>
    <div class="desc"><p>Monitored stations</p></div>
  </div>

  <div class="update">
    <i class="fa-solid fa-circle circle"></i>
    <i class="fa-solid fa-arrow-rotate-right arrow"></i>
    <h4>20s</h4>
    <div class="desc"><p>Last Update</p></div>
  </div>
  
  <div class="periods">
    <a  [ngClass]="{'activeLink': shot === 'Today'}" (click)="activBtn('Today')"> <p class="time">Today</p> </a>
    <a  [ngClass]="{'activeLink': shot === 'Yesterday'}" (click)="activBtn('Yesterday')"> <p class="time">Yesterday</p> </a>
    <a  [ngClass]="{'activeLink': shot === 'Week'}" (click)="activBtn('Week')"> <p class="time">Last Week</p> </a>
  </div>

  <div class="p-field p-col-12 p-md-4">
    <i class="fa-solid fa-caret-right arrowRight"></i> <p-calendar
      [(ngModel)]="date3" [showIcon]="true" inputId="icon" class="mycalendar"></p-calendar>
      <i class="fa-solid fa-caret-right arrowRight"></i> <p-calendar
      [(ngModel)]="date3" [showIcon]="true" inputId="icon" class="mycalendar"></p-calendar>
  </div>
</div>
