
  <div class="station1LineBar">
    <div class="head ">
      <div class="part1"><p>Stations Activates Overview</p></div>
      <div class="part2">
        <p [ngClass]="{'activeBarLink' : activeBarLink =='KPI'}" (click)="linkBar('KPI')">KPI</p>
        <p [ngClass]="{'activeBarLink' : activeBarLink =='TEMORETURE'}" (click)="linkBar('TEMORETURE')">TEMORETURE</p>
      </div>
      <div class="part3">
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon1'}" (click)="IconBtn('Icon1')"> <i class="fa-solid fa-chart-line"></i> </p>
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon2'}" (click)="IconBtn('Icon2')">  <i class="fa-solid fa-chart-column"></i> </p>
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon3'}" (click)="IconBtn('Icon3')">  <i class="fa-solid fa-list-ul"></i> </p>
       <p> <i class="fa-solid fa-ellipsis"></i> </p>
      </div>
    </div>
    <div class="linechart" *ngIf="!showKpi">

      <div class="chart">
        <p-chart type="pie" [data]="data" [height]="100"></p-chart>
        <p class="Temperture">Inlet Temperture</p>
        <span>100 Pa</span>
      </div>

      <div class="chart">
        <p-chart type="pie" [data]="data" [height]="100"></p-chart>
        <p class="Temperture">Oil Temperture</p>
        <span>100 Pa</span>
      </div>

      <div class="chart">
        <p-chart type="pie" [data]="data" [height]="100"></p-chart>
        <p class="Temperture">stages Temperture</p>
        <span>100 Pa avg</span>
      </div>


    </div>

    <div class="linechart" *ngIf="showKpi">

      <div class="chart">
        <p-chart type="pie" [data]="data" [height]="100"></p-chart>
        <p>Inlet Temperture</p>
        <span>100 Pa</span>
      </div>

      <div class="chart">
        <h3>4322</h3>
        <p class="total">Total working </p>
        <p class="total">Time</p>
      </div>

      <div class="chart">
        <h3>5334</h3>
        <p class="total">Total Power </p>
        <p class="total">On Time</p>
      </div>


    </div>

  </div>




