
  <div class="lineBar">
    <div class="head ">
      <div class="part1"><p>Stations Activates Overview</p></div>
      <div class="part2">
        <p [ngClass]="{'activeBarLink' : activeBarLink =='PRESSURE'}" (click)="linkBar('PRESSURE')">PRESSURE</p>
        <p [ngClass]="{'activeBarLink' : activeBarLink =='KPI'}" (click)="linkBar('KPI')">KPI</p>
        <p [ngClass]="{'activeBarLink' : activeBarLink =='TEMORETURE'}" (click)="linkBar('TEMORETURE')">TEMORETURE</p>
      </div>
      <div class="part3">
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon1'}" (click)="IconBtn('Icon1')"> <i class="fa-solid fa-chart-line"></i> </p>
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon2'}" (click)="IconBtn('Icon2')">  <i class="fa-solid fa-chart-column"></i> </p>
       <p [ngClass]="{'activeIcon' : activeIcon =='Icon3'}" (click)="IconBtn('Icon3')">  <i class="fa-solid fa-list-ul"></i> </p>
       <p> <i class="fa-solid fa-ellipsis"></i> </p>
      </div>
    </div>
    <div class="linechart">

      <!-- <div>
        <rg-gauge-chart
          [canvasWidth]="canvasWidth"
          [needleValue]="50"
          [bottomLabel]=""
          [centralLabel]="centralLabel"
          [options]="options"
          [name]="Gauge_chart"
          [bottomLabel]="bottomLabel">
        </rg-gauge-chart>
      </div> -->

    </div>

  </div>




