<div class="sidebarContent">

<a routerLink="home" class="link"> <img src="../../../assets/Imgs/logo.svg" class="logoImg my-5" alt=""> </a>

<div class="icons mt-4">

  <a routerLink="control" class="link"> <img src="../../../assets/Imgs/control-room.svg" class="icon my-2" alt=""> </a>
  <a routerLink="dashboared" class="link"> <img src="../../../assets/Imgs/dashboard.svg" class="icon my-2" alt=""> </a>
  <a routerLink="elements" class="link"> <img src="../../../assets/Imgs/elements.svg" class="icon my-2" alt=""> </a>
  <a routerLink="settings" class="link"> <img src="../../../assets/Imgs/settings.svg" class="icon my-2" alt=""> </a>
  <a routerLink="notifications" class="link"> <img src="../../../assets/Imgs/notifications.svg" class="icon my-2" alt=""> </a>

</div>

<a routerLink="logout" class="link"> <img src="../../../assets/Imgs/logout.svg" class="logout" alt=""> </a>

</div>
