
  <div class="overallPage">
    <div class="head ">
      <div class="part1"><p>Stations Activates Overview</p></div>

      <div class="part3">
       <p> <i class="fa-solid fa-ellipsis"></i> </p>
      </div>
    </div>

    <div class="row">

      <div class="col-3 text-center">
        <p-chart type="pie" [data]="data" [height]="100"></p-chart>
        <p>Alarm Rate</p>
      </div>

      <div class="col-5">

        <div class="freqency">
          <p>Frequency</p>

          <div class="myTable row" *ngFor="let time of Frequency">
            <div class="row ay7aga">
              <div class="col-3">{{time.period}}</div>
              <div class="col-4">{{time.time}}</div>
              <div class="col-1">|</div>
              <div class="col-4">{{time.min}}</div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-4">

        <div class="occurred">
          <p>Last Occurred</p>

          <div class="myTable row" *ngFor="let time of occurredtime">
            <div class="row occurredtime">
 <div class="col-md-12 occInfo"> <p>{{time.dateTime}}</p> <p>{{time.time}}</p> <p>|</p> <p>{{time.min}}</p> </div>
 <div class="col-md-12 occInfo"> <p>{{time.Compresor}}</p>  <p>{{time.CompresorId}}</p> </div>
 <div class="col-md-12 occInfo"> <p>{{time.Dispenser}}</p> <p>{{time.Dispenser}}</p> </div>

            </div>
          </div>

        </div>

      </div>


    </div>

  </div>




