<div class="radarCharts">
  <p-chart type="radar" [data]="data" ></p-chart>
</div>

<div class="radarStations">

  <h5>Sales by Station</h5>

  <div class="stations">
    <div class="station1">
      <img src="../../../assets/Imgs/gas-station-svgrepo-com.svg" alt="" />
      <p class="text1">Station Name</p>
      <p class="text2">62,721m<sup>3</sup></p>

      <div class="progres"></div>
    </div>

    <div class="station1 my-3">
      <img src="../../../assets/Imgs/gas-station-svgrepo-com.svg" alt="" />
      <p class="text1">Station Name</p>
      <p class="text2">62,721m<sup>3</sup></p>

      <div class="progres"></div>
    </div>

    <div class="station2 my-3">
      <img src="../../../assets/Imgs/gas-station-svgrepo-com.svg" alt="" />
      <p class="text1">Station Name</p>
      <p class="text2">NM</p>

      <div class="progres"></div>
    </div>
  </div>
</div>
