<div class="page">

  <div class="Dispenser">
    <span>Dispenser Sales</span>

    <div class="progressBar m-auto">
      <div class="bar">
        <div class="bar1"></div>
        <p>D1</p>
      </div>

      <div class="bar">
        <div class="bar1"></div>
        <p>D1</p>
      </div>

      <div class="bar">
        <div class="bar1"></div>
        <p>D1</p>
      </div>

      <div class="bar">
        <div class="bar1"></div>
        <p>D1</p>
      </div>

      <div class="bar">
        <div class="bar1"></div>
        <p>D1</p>
      </div>

    </div>
    
  </div>

  <div class="radarCharts">
    <span>Hourly Sales</span>
    <p-chart type="radar" [data]="data" [height]="250" ></p-chart>
  </div>

</div>
